extends layout

block content
  div#tooltip
    div#tooltipInfo

  div#popout
    div.close
      a(href='#', onclick="closePopout();")
        i(class='fa fa-close fa-lg')
    div.airplaneInfos
      div.valueHalf
        i(class='fa fa-plane fa-lg')
        span#acid(class='data') NDef
      div.valueHalf
        span(class='fa fa-stack fa-lg')
          i(class='fa fa-circle fa-stack-1x')
          i(class='fa fa-plane fa-stack-1x i-hl')
        span#icao(class='data') NDef
      div.valueFull
        i(class='fa fa-map-marker fa-lg')
        span#latitude(class='data') NDef
        span#longitude(class='data') NDef
      div.valueHalf
        i(class='fa fa-arrows-h fa-lg')
        span#horizontal(class="data") NDef
        span.unit kt
      div.valueHalf
        i(class='fa fa-arrows-v fa-lg')
        span#vertical(class="data") NDef
        span.unit fpm
      div.valueHalf
        i(class='fa fa-arrow-up fa-lg')
        span#altitude(class='data') NDef
        span.unit ft
      div.valueHalf
        i(class='fa fa-rotate-right fa-lg')
        span#heading(class='data') NDef
        span.unit &deg;

  div#search
    div.inner
      form#searchAirplane
        input.searchInput(placeholder='ICAO, FlightID, Airport...', name="searchInput")
        button.startSearch(type='submit')
          i(class='fa fa-search fa-lg')

  div#options
    div.close
      a(href='#', onclick="$('#options').fadeOut();")
        i(class='fa fa-close fa-lg')
    div.inner
      div.mapstyle_sat
        i(class='fa fa-compass')
      div.mapstyle_earth
        i(class='fa fa-globe')
      div.contact
        i(class='fa fa-envelope-o')

  div#mapLayerChooser(class='ol-control')
    div.inner
      img#mapLayerChooserImage(src='images/layer_sat.png')

  button#searchButton(type="button", onclick="toggleSearch();")
    i(class='fa fa-search')
  //button#optionsButton(type="button")
    i(class='fa fa-cog')

  div#map(class='map')


