extends layout

block content
  div#popout
    div.close
      a(href='#', onclick="$('#popout').fadeOut();")
        i(class='fa fa-close fa-lg')
    div.airplaneInfos
      div.airplaneSizeImage
        i(class='fa fa-plane fa-lg')
        //img(src='/images/AirplaneBig.png')blöb
      div#icao(class='icao') 3C6489
      div.flightNumber ABCDEF
      div.position
        i(class='fa fa-map-marker fa-lg')
        span#longitude(class='data') 49.56552451
        span#latitude(class='data') 9.1664646
      div.speedHorizontal
        i(class='fa fa-arrows-h fa-lg')
        span.data 560 km/h
      div.speedVertical
        i(class='fa fa-arrows-v fa-lg')
        span.data 10 m/s
      div.departureAirport
        i(class='fa fa-location-arrow fa-lg')
        span.data STG
      div.departureTime
        i(class='fa fa-clock-o fa-lg')
        span.data 12:45
      div.arrivalAirport
        i(class='fa fa-location-arrow fa-lg fa-rotate-90')
        span.data MAD
      div.arrivalTime
        i(class='fa fa-clock-o fa-lg')
        span.data 15:00

  div#searchbutton
    i(class='fa fa-search')

   div#search
     div.close
       a(href='#', onclick="$('#search').fadeOut();")
       <input type='text'> <input type='submit' value='Search'>


  div#optionsbutton
    i(class='fa fa-cog')

  div#options
    div.close
      a(href='#', onclick="$('#options').fadeOut();")
    div.mapstyle_sat
      i(class='fa fa-compass')
    div.mapstyle_earth
      i(class='fa fa-globe')
      div.contact
        i(class='fa fa-envelope-o')


  div#map(class='map')
