extends layout

block content
  div#tooltip
    div#tooltipInfo

  div#popout
    div.close
      a(href='#', onclick="closePopout();")
        i(class='fa fa-close fa-lg')
    div.airplaneInfos
      div.airplaneSizeImage
        i(class='fa fa-plane fa-lg')
        //img(src='/images/AirplaneBig.png')blöb
      div#icao(class='icao') NDef
      //div.flightNumber ABCDEF
      div.position
        i(class='fa fa-map-marker fa-lg')
        span#longitude(class='data') NDef
        span#latitude(class='data') NDef
      div.speedHorizontal
        i(class='fa fa-arrows-h fa-lg')
        span#horizontal(class="data") NDef
        span.unit kt
      div.speedVertical
        i(class='fa fa-arrows-v fa-lg')
        span#vertical(class="data") NDef
        span.unit ft/min
      //div.departureAirport
        i(class='fa fa-location-arrow fa-lg')
        span.data STG
      //div.departureTime
        i(class='fa fa-clock-o fa-lg')
        span.data 12:45
      //div.arrivalAirport
        i(class='fa fa-location-arrow fa-lg fa-rotate-90')
        span.data MAD
      //div.arrivalTime
        i(class='fa fa-clock-o fa-lg')
        span.data 15:00

  div#search
    div.inner
      input.searchInput(placeholder='Suchanfrage...')
      button.startSearch
        i(class='fa fa-search fa-lg')

  //div#options
    div.close
      a(href='#', onclick="$('#options').fadeOut();")
    div.mapstyle_sat
      i(class='fa fa-compass')
    div.mapstyle_earth
      i(class='fa fa-globe')
      div.contact
        i(class='fa fa-envelope-o')


  div#map(class='map')
    div#moreOptions(class="ol-control")
      button#searchButton(type="button", onclick="toggleSearch();")
        i(class='fa fa-search')
      button#optionsButton(type="button")
        i(class='fa fa-cog')
