body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
}

a {
  color: #00B7FF;
}

.map {
  height: 100%;
  width: 100%;
  position: relative;
}

#content td {
  padding: 4px;
}