@blueBg: rgba(0, 60, 136, 0.5);
@whiteBorder: rgba(255, 255, 255, 0.8);
@whiteBg: rgba(255,255,255,0.4);

.ph(@color: #fff) {
  input::-webkit-input-placeholder { color: @color; }
  input:-moz-placeholder { color: @color; }
  textarea::-webkit-input-placeholder { color: @color; }
  textarea:-moz-placeholder { color: @color; }
}

body {
  margin: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: white;
}

.map {
  height: 100%;
  width: 100%;
  position: relative;
}

.close {
  position: absolute;
  z-index: 150;
  right: 5px;
  top: 5px;
  padding: 2px;
  border: 1px solid white;
  border-radius: 3px;
}

#popout {
  display: none;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 100;
  border-radius: 5px;
  overflow: hidden;
  background-color: @whiteBg;
  padding: 2px;
  width: 250px;

  .airplaneInfos {
    padding: 10px;
    background: @blueBg;
    border-radius: 3px;
    margin: 1px;
    font-size: 0.9em;
    display: flex;
    color: #ffffff;
    flex-wrap: wrap;

    i {
      width: 16px;
    }

    div {
      //border: 1px solid white;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .position {
      flex: 0 0 auto;
    }

    .valueHalf {
      flex: 1 1 50%;
    }

    .valueFull {
      flex: 100%;
    }

    span.data {
      padding-left: 15px;
    }

    span.unit {
      padding-left: 5px;
    }
  }
}

#search {
  display: none;
  position: absolute;
  left: 3em;
  top: 0.5em;
  z-index: 100;
  border-radius: 3px;
  background: @whiteBg;
  padding: 2px;

  .inner {
    border-radius: 3px;
    margin: 1px;
    background: @blueBg;
    color: white;

    .searchInput {
      width: 300px;
      font-size: 1em;
      padding: 5px;
      height: 1.4em;
      background: none;
      border-radius: 3px;
      border: none;
      color: white;
      letter-spacing: 1px;
      font-weight: 600;
    }

    .ph(#fff);

    .startSearch {
      background: none;
      color: white;
      border: none;
      border-left: 2px solid rgba(255,255,255,0.8);
      border-radius: 3px;
      padding: 10px;
    }
  }
}

#searchButton {
  margin-bottom: 3px;
  i.fa {
    font-size: 13px;
  }
}

#optionsButton {
  line-height: inherit;
}

#options {
  display: none;
  position: absolute;
  left: 3em;
  top: 3em;
  z-index: 120;
  border-radius: 3px;
  background-color: @whiteBg;
  padding: 2px;

  .inner {
    margin: 1px;
    background: @blueBg;
    border-radius: 3px;
    color: white;
    width: 150px;
    height: 250px;
  }
}

#tooltip {
  display: none;
  position: absolute;
  z-index: 110;
  border-radius: 3px;
  overflow: hidden;
  background-color: @whiteBg;
  padding: 2px;
  color: white;

  #tooltipInfo {
    margin: 1px;
    background: @blueBg;
    border-radius: 3px;
    padding: 5px;
  }
}

.ol-attribution a {
  color: black;
}

div.creators {
  font-size: 0.7rem;
  position: relative;
  padding: 5px;
  display: inline;
  margin-right: 20px;
}

.ol-attribution.ol-collapsed div.creators {
  display: none;
}